@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// Colors
$Light_cyan: hsl(193, 38%, 86%);
$Neon_green: hsl(150, 100%, 66%);

$Drayish_blue: hsl(217, 19%, 38%);
$Dark_grayish_blue: hsl(217, 19%, 24%);
$Dark_blue: hsl(218, 23%, 16%);

// font
$Manrope: 'Manrope', sans-serif;
$Size: 28px;
$Bold: 800;

// breackpoint
$Mobile: 768px;
$Desktop: 1440px;